:root {
  --light-blue: #0442b8;
  --dark-blue: #022577;
  --yellow-color-400: #eeb104;

  --bg-gradient: linear-gradient(var(--light-blue) 40%, var(--dark-blue));
  --input-placeholder-color: #7d8590b9;
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  color: white;
}

html,
body {
  width: 100%;
  height: 100%;
  background: var(--bg-gradient);
}

#__next {
  width: 100%;
  height: 100%;
}

main {
  width: 100%;
  height: 100%;
}


.inherit-parent-icon {
  color: inherit !important;
}

.inherit-parent-icon path {
  color: inherit !important;
}

.inherit-parent-icon > g  {
  color: inherit !important;
}

.inherit-parent-icon polygon {
  color: inherit !important;
}
